Repository kraftend/next-tailwind-starter: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

fix: :bug: type error for next-themes
  src/components/ui/theme-provider.tsx
Due: eslint --fix

chore: :fire: migrate to biome, bun(package manager) upgrade all major deps
  .cursor/rules/nextjs-react-typescript.mdc
  .cursor/rules/ultracite.mdc
  .editorconfig
  .eslintrc.json
  .prettierignore
  .vscode/extensions.json
  .vscode/settings.json
  biome.jsonc
  bun.lock
  components.json
  next.config.ts
  package.json
  pnpm-lock.yaml
  postcss.config.cjs
  postcss.config.mjs
  prettier.config.mjs
  src/app/api/hello/route.ts
  src/app/globals.css
  src/app/layout.tsx
  src/app/providers.tsx
  src/components/ui/button.tsx
  src/components/ui/dropdown-menu.tsx
  src/components/ui/tailwind-indicator.tsx
  src/components/ui/theme-provider.tsx
  src/components/ui/theme-toggle.tsx
  src/env.ts
  src/hooks/useBreakpoint.ts
  src/lib/analytics.tsx
  src/lib/constants.ts
  src/lib/utils.ts
  svgr.config.cjs
  tailwind.config.ts
  tsconfig.json
Due: eslint --fix, prettier --write

chore: :fire: remove unused yaml dependency from bun.lock and clean up button component
  bun.lock
  src/components/ui/button.tsx
Due: eslint --fix

chore: :sparkles: update biome configuration, upgrade dependencies, and clean up code formatting
  .cursor/rules/ultracite.mdc
  .vscode/settings.json
  biome.jsonc
  bun.lock
  next.config.ts
  package.json
  postcss.config.mjs
  src/app/api/hello/route.ts
  src/app/globals.css
  src/app/layout.tsx
  src/app/page.tsx
  src/app/providers.tsx
  src/components/ui/button.tsx
  src/components/ui/dropdown-menu.tsx
  src/components/ui/tailwind-indicator.tsx
  src/components/ui/theme-provider.tsx
  src/components/ui/theme-toggle.tsx
  src/env.ts
  src/lib/analytics.tsx
  src/lib/constants.ts
  src/lib/utils.ts
  src/types/reset.d.ts
  src/types/svgr.d.ts
  svgr.config.cjs
  tsconfig.json
Due: eslint --fix, prettier --write

chore: :sparkles: upgrade deps
  biome.jsonc
  bun.lock
  package.json
  src/app/globals.css
Due: prettier --write

chore: upgrade nextjs and react versions
  bun.lock
  package.json
  src/app/globals.css
Due: prettier --write

Path conditions:
  eslint --fix: any of: **/*.{js,jsx,ts,tsx}
  prettier --write: any of: **/*.{json,css,scss,md}
