Repository kraftend/next-tailwind-starter: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
    "src/**/*.{js,jsx,ts,tsx}": [
        "eslint --fix"
    ],
    "src/**/*.{json,css,scss,md}": ["prettier --write"]
}

chore: dependency updates
  package.json
  yarn.lock
Due: none

chore: :arrow_up: upgrade dependencies
  package.json
  yarn.lock
Due: none

chore: :technologist: add husky hooks for pre-commit and pre-push checks
  .husky/commit-msg
  .husky/pre-commit
  .husky/pre-push
Due: none

chore: :arrow_up: upgrade dependencies & react 18
  package.json
  yarn.lock
Due: none

chore: :wrench: add curly brace eslint rule
  .eslintrc.json
Due: none

fix: :bug: correct font css import
  src/pages/_app.tsx
Due: eslint --fix

style: :art: consistent spacing in config files
  .lintstagedrc.json
  .prettierrc.json
  next.config.js
Due: none

chore: :label: tailwindcss typescript support
  tailwind.config.js
Due: none

chore: :pushpin: pin tailwind-styled-components to last typesciript working version
  package.json
  yarn.lock
Due: none

chore: :arrow_up: upgrade dependencies
  .vscode/extensions.json
  package.json
  yarn.lock
Due: none

feat: :sparkles: new practices, fixes and dependency updates
  .eslintrc.json
  .gitignore
  .lintstagedrc.json
  .vscode/settings.json
  next.config.js
  next.config.mjs
  package.json
  src/env/client.mjs
  src/env/schema.mjs
  src/env/server.mjs
  src/styles/globals.css
  tailwind.config.js
  tsconfig.json
  yarn.lock
Due: prettier --write

chore: :rotating_light: eslint unused imports no autofix but warn
  .eslintrc.json
  package.json
  yarn.lock
Due: none

feat: :sparkles: nextjs 13 with some package changes
  .vscode/settings.json
  package.json
  src/components/HomeCard.tsx
  src/hooks/useBreakpoint.ts
  src/styles/globals.css
  yarn.lock
Due: eslint --fix, prettier --write

feat: :boom: use pnpm, change import order plugin, update dependencies
  .editorconfig
  .eslintignore
  .eslintrc.json
  .gitignore
  .nvmrc
  .prettierignore
  .prettierrc.json
  .vscode/settings.json
  package.json
  pnpm-lock.yaml
  prettier.config.js
  src/components/HomeCard.tsx
  src/env/schema.mjs
  src/env/server.mjs
  src/hooks/useBreakpoint.ts
  src/lib/utils.ts
  src/pages/_app.tsx
  vercel.json
  yarn.lock
Due: eslint --fix

feat: :art: add additional font sizes
  tailwind.config.js
Due: none

chore: :arrow_up: update next
  .vscode/settings.json
  next-env.d.ts
  package.json
  pnpm-lock.yaml
  tsconfig.json
Due: none

chore: :see_no_evil: update gitignore next-env
  .gitignore
Due: none

feat: :safety_vest: use t3-env package for env validation
  next.config.mjs
  package.json
  pnpm-lock.yaml
  src/env.mjs
  src/env/client.mjs
  src/env/schema.mjs
  src/env/server.mjs
Due: none

chore: :recycle: move to app router
  .eslintrc.json
  .lintstagedrc.js
  .lintstagedrc.json
  .vscode/settings.json
  next.config.mjs
  package.json
  pnpm-lock.yaml
  postcss.config.js
  public/.gitkeep
  public/favicon.ico
  public/kraftend.svg
  public/vercel.svg
  seo.config.js
  src/app/api/hello/route.ts
  src/app/globals.css
  src/app/layout.tsx
  src/app/page.tsx
  src/components/Footer.tsx
  src/components/Header.tsx
  src/components/HomeCard.tsx
  src/components/tailwind-indicator.tsx
  src/hooks/useVhValue.ts
  src/pages/_app.tsx
  src/pages/api/hello.ts
  src/pages/index.tsx
  src/styles/globals.css
  tailwind.config.js
Due: eslint --fix, prettier --write

fix: :technologist: cleanup and updates
  package.json
  pnpm-lock.yaml
  prettier.config.js
  src/app/globals.css
  src/app/layout.tsx
  src/components/tailwind-indicator.tsx
  src/env.mjs
  src/lib/utils.ts
  tailwind.config.js
Due: eslint --fix, prettier --write

feat: :sparkles: eslint and analytics revamp
  .eslintignore
  .eslintrc.cjs
  .eslintrc.json
  .vscode/settings.json
  next.config.mjs
  package.json
  pnpm-lock.yaml
  prettier.config.mjs
  src/app/globals.css
  src/app/icon.png
  src/app/layout.tsx
  src/env.mjs
  src/lib/analytics.tsx
  src/lib/constants.ts
  tsconfig.json
Due: eslint --fix, prettier --write

fix: :bug: env url format
  src/env.mjs
Due: none

fix: :rotating_light: linter warnings
  .eslintrc.cjs
  src/app/api/hello/route.ts
  src/hooks/useBreakpoint.ts
  src/lib/utils.ts
Due: eslint --fix

fix: :bug: remove default env variables from env check file
  src/components/tailwind-indicator.tsx
  src/env.mjs
  src/lib/constants.ts
Due: eslint --fix

chore: :arrow_up: next14
  package.json
  pnpm-lock.yaml
Due: none

fix: :bug: analytics rewrite
  next.config.mjs
  package.json
  pnpm-lock.yaml
  src/app/layout.tsx
  src/lib/analytics.tsx
  src/lib/constants.ts
Due: eslint --fix

chore: :label: add ts-reset
  next.config.mjs
  package.json
  pnpm-lock.yaml
  reset.d.ts
  src/hooks/useBreakpoint.ts
  tailwind.config.ts
Due: eslint --fix

feat: :sparkles: add svgr and lenis
  .husky/commit-msg
  .husky/pre-commit
  .husky/pre-push
  next.config.mjs
  package.json
  pnpm-lock.yaml
  postcss.config.js
  src/app/globals.css
  src/app/layout.tsx
  src/app/page.tsx
  src/app/providers.tsx
  src/assets/kraftend.svg
  src/hooks/useBreakpoint.ts
  src/types/reset.d.ts
  src/types/svgr.d.ts
  svgr.config.js
Due: eslint --fix, prettier --write

refactor: :wrench: simplify tooling
  .eslintrc.cjs
  .gitignore
  .husky/commit-msg
  .husky/pre-commit
  .husky/pre-push
  .lintstagedrc.js
  .nvmrc
  .prettierignore
  .vscode/extensions.json
  .vscode/settings.json
  README.md
  commitlint.config.js
  next.config.mjs
  package.json
  pnpm-lock.yaml
  postcss.config.cjs
  prettier.config.mjs
  src/app/globals.css
  src/app/layout.tsx
  src/app/page.tsx
  src/app/providers.tsx
  src/components/tailwind-indicator.tsx
  src/env.ts
  src/hooks/useBreakpoint.ts
  src/lib/analytics.tsx
  src/lib/constants.ts
  src/lib/utils.ts
  src/types/svgr.d.ts
  svgr.config.cjs
  tailwind.config.ts
  tsconfig.json
Due: eslint --fix, prettier --write

feat: :arrow_up: update deps and practices
  .vscode/settings.json
  next.config.mjs
  package.json
  pnpm-lock.yaml
  src/app/api/hello/route.ts
  src/app/globals.css
  src/app/page.tsx
  src/app/providers.tsx
  src/env.mjs
  src/lib/analytics.tsx
  src/lib/constants.ts
  src/types/svgr.d.ts
Due: eslint --fix, prettier --write

chore: :arrow_up: upgrade dependencies
  package.json
  pnpm-lock.yaml
  src/app/globals.css
  src/app/layout.tsx
  src/app/providers.tsx
Due: eslint --fix, prettier --write

chore: :see_no_evil: add prettierignore file
  .prettierignore
Due: none

chore: :arrow_up: upgrade to next15, react19, kraftend-eslint
  .eslintrc.cjs
  next.config.ts
  package.json
  pnpm-lock.yaml
  src/app/page.tsx
  src/env.ts
  src/lib/analytics.tsx
  src/lib/constants.ts
  src/types/svgr.d.ts
  svgr.config.cjs
  tsconfig.json
Due: eslint --fix

feat: :lipstick: shadcn ui updates and dark light modes
  components.json
  package.json
  pnpm-lock.yaml
  src/app/globals.css
  src/app/layout.tsx
  src/app/page.tsx
  src/components/ui/button.tsx
  src/components/ui/dropdown-menu.tsx
  src/components/ui/tailwind-indicator.tsx
  src/components/ui/theme-provider.tsx
  src/components/ui/theme-toggle.tsx
  src/lib/utils.ts
  tailwind.config.ts
Due: eslint --fix, prettier --write

fix: :rotating_light: linter errors
  src/components/ui/button.tsx
  src/components/ui/dropdown-menu.tsx
  src/components/ui/theme-provider.tsx
  src/lib/utils.ts
Due: eslint --fix

fix: :bug: clsx to cx from cva
  package.json
  pnpm-lock.yaml
  src/lib/utils.ts
Due: eslint --fix

chore: :arrow_up: upgrade
  .eslintrc.json
  .nvmrc
  .vscode/settings.json
  package.json
  pnpm-lock.yaml
Due: none

chore: :wrench: add cursorrules
  .cursorrules
Due: none

refactor: :fire: remove vercel analytics as its never used
  next.config.ts
  package.json
  pnpm-lock.yaml
  src/app/globals.css
  src/env.ts
  src/lib/analytics.tsx
Due: eslint --fix, prettier --write
